.footer__column-links {
  margin: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}